

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
#player {
    /* width: 2200px; */
}
#controls {
    margin-top: 10px;
  }
  #playBtn,
  #pauseBtn,
  #volumeControl {
    margin-right: 10px;
  }

  .contentNotVisible {
    display: none !important;
  }

  .contentVisible {
    display: flex !important;
  }